<div class="container">
    <div class="row" ng-repeat="entity in entities| orderBy: 'kind' | filter: entityFilter">
        <div class="col-md-2">
            <div class="well well-sm card">
                <div>
                    <span>{{entity.name}}</span>
                </div>
                <div>
                    <span>{{entity.total| currency: '₹'}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="well well-sm card">
                <span ng-repeat="amount in transactions"><a ng-click="deleteTransaction($parent.$index, $index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> {{amount}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm card">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <span>New Entity</span>
                N<input type="text" placeholder="Name" ng-model="newEntity.name">
                C<input type="radio" value="c" ng-model="newEntity.kind">
                D<input type="radio" value="d" ng-model="newEntity.kind">
                <button class="btn btn-success" ng-click="addEntity(newEntity.name, newEntity.kind)">Add</button>
            </div>
        </div>
    </div>
</div>